package $package;
import java.util.HashMap;
import java.util.Map;
import com.google.protobuf.GeneratedMessage;
import com.google.protobuf.Descriptors;
#foreach ($imp in $imps)
import $imp;
#end

public class $className{
private static Map
<Integer, GeneratedMessage> map = new HashMap
<Integer, GeneratedMessage>();

private static Map<Descriptors.Descriptor descriptor, Integer> keyMap = new HashMap<Descriptors.Descriptor descriptor, Integer>();

public static void init(){
#foreach ($obj in $list)
map.put($obj.key, ${obj.value}.requestMsg.getDefaultInstance());
#end


}

public static GeneratedMessage getMessage(Integer id){
return map.get(id);
}


public static int getMsgId(Descriptors.Descriptor descriptor){
return keyMap.get(descriptor);
}
}